body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h3 {
    background-color: #004085;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

form {
    display: grid;
    gap: 20px;
}

.customer-details, .salary-info, .earning-section, .deduction-section, .totals, .refinance-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.customer-details label, .salary-info label, .earning-section label, .deduction-section label, .totals label, .refinance-info label {
    grid-column: span 1;
}

.customer-details input, .salary-info input, .earning-section input, .deduction-section input, .totals input, .customer-details select, .salary-info select, .earning-section select, .deduction-section select, .totals select, .refinance-info select {
    grid-column: span 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.totals div {
    display: flex;
    align-items: center;
}

.totals input {
    margin-left: 10px;
    flex: 1;
}

.hidden-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-column: span 2;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.hidden-section.hidden {
    display: none;
}

#joint-applicant-fields, #spouse-salary-info {
    display: none;
    grid-column: span 2;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.refinance-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.refinance-info label {
    grid-column: span 1;
}

.refinance-info input, .refinance-info select {
    grid-column: span 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
